.App {
  text-align: left;
  display: inline;
  padding: 0.05px;
}

.PlaceHolder {
  margin: 20px;
  padding: 10px;
  border: 1px;
  border-color: black;
  border-style: solid;
}

.SaveMessage {
  padding: 20px;
}

.ReadMessage {
  padding: 20px;
}

